<article id="about-me">
    <div id="about-me-intro">
        <div>
            <h2 class="text-success">
                <u>ABOUT ME</u>
            </h2>
            <p id="about-me-detail">
                I am a motivated graduate software engineer with strong proven teamwork ability, exceptional drive and determination. I can work extremely well under pressure to meet deadline as demonstrated throughout my academic and professional life. I always strive
                for perfection in order to achieve and exceed expectations. I am ready to be challenged as an individual and keen to apply my skills. Having a solid technical knowledge of programming, I would definitely be a very good asset
                in a team.
            </p>
        </div>
    </div>
    <!--===about-me-intro==-->
    <div id="personal-info">
        <div id="contact-info">
            <h3 class="text-danger">
                <em>Personal information</em>
            </h3>
            <ul class="list-group text-center">
                <li class="list-group-item list-group-item-success"><span>Name :</span><strong><em> Kiya Gurmesa</em></strong></li>
                <li class="list-group-item list-group-item-info"><span>Email :</span><strong><em> Kiya.gurmesa@gmail.com</em></strong></li>
                <li class="list-group-item list-group-item-danger"><span>Phone : </span><strong><em> +44-748-090-7907</em></strong>
                </li>
            </ul>
        </div>
        <div id="download-resume" class="">
            <a href="https://drive.google.com/uc?export=download&id=0B_wEgsQCj5hxVXNV" class="btn btn-block" aria-hidden="true" download>
                <i class="fa fa-download"></i> Download Resume (CV)
            </a>
        </div>
    </div>
</article>