<article id="contact-me">
                <hr>
                <div id="contact-me-container">

                    <div>
                        <h2 class="text-success">
                            <u><em>CONTACT ME</em></u>
                        </h2>
                    </div>

                    <div id="contact-form">

                        <form action="/message" class="text-center" id="send_message" method="POST">
                            <div class="form-group">
                                <label for="name"><span class="required">&#42;&nbsp;</span>Name: </label>
                                <input type="text" id="name" name="name" class="form-control" placeholder="Your Name">
                            </div>
                            <div class="form-group">
                                <label for="email"><span class="required">&#42;&nbsp;</span>Email: </label>
                                <input type="text" id="email" name = "email" class="form-control" placeholder="Your Email address">
                            </div>
                            <div class="form-group">
                                <label for="subject"><span class="required">&#42;&nbsp;</span>subject: </label>
                                <input type="text" id="subject" name="subject" class="form-control" placeholder="Subject">
                            </div>
                            <div class="form-group">
                                <label for="message"><span class="required">&#42;&nbsp;</span>Message: </label>
                                <textarea rows="10" cols="10" class="form-control" name = "message" placeholder="Your Message" id="message"></textarea>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-block" type="submit" id="send-button">
							    Send Message <i class="fa fa-send"></i>
						    </button>
                            </div>
                        </form>
                        <p id="required"><span class="required">&#42;</span> - required fields</p>
                    </div>
                    <!--===col==-->
                </div>
                <!--===row==-->
                <hr>
                <div id="social-link-bottom">
                    <ul>
                        <li> <a href="" class="badge social github"><i class="fa fa-github"></i></a></li>
                        <li> <a href="" class="badge social twitter"><i class="fa fa-twitter"></i></a></li>
                        <li> <a href="" class="badge social linkedin"><i class="fa fa-linkedin"></i></a></li>
                        <li> <a href="" class="badge social gplus "><i class="fa fa-google-plus"></i></a></li>
                        <li> <a href="" class="badge social facebook"><i class="fa fa-facebook"></i></a></li>
                    </ul>
                </div>
            </article>
            <!--===article==-->