<article id="education">
    <div class="border"></div>
    <div id="edu-container">
        <div class="heading">
            <h2 class="text-success">
                <u>EDUCATION</u>
            </h2>
            <div class="slider slider-education-pic">
                <div class="education-image">
                    <img src="assets/images/cardiff2.png" alt="micro">
                </div>
            </div>
        </div>
        <!--===education==-->
        <div class="slider slider-education-content">
            <hr>
            <h4 id="edu-heading">Cardiff Metropolitan University</h4>
            <p id="edu-content">
                MSC in Information Technology
            </p>
        </div>
        <!--===slider-education-content==-->
        <hr>
    </div>
</article>
<!--===article==-->