<article id="education">
    <div class="border"></div>
    <div id="edu-container">
            <div class="heading">
                <h2 class="text-success"><u>EDUCATION</u></h2>
                <div class="slider slider-education-pic">
                    <div class="education-image">
                        <img src="assets/images/micro2.jpg" alt="micro">
                    </div>
                </div>
            </div>
        <!--===education==-->
        <div class="slider slider-education-content">
            <hr>
            <h4 id="edu-heading">MicroLink Information technology College</h4>
            <p id="edu-content">
                Bsc degree in computer Science<br>Majoring in software Engineering
            </p>
        </div>
        <!--===slider-education-content==-->
        <hr>
    </div>
</article>
<!--===article==-->