<article id="experience">
    <div class="border"></div>
    <div id="experience-container">
        <div class="heading">
            <h2 class="text-success"><u>EXPERIENCE</u></h2>
        </div>
        <!--row-->
        <div class="" id="timeline">
            <ul>
                <li class="date">Nov 2016 - now&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                <li class="listing clearfix">
                    <div class="image_wrapper">
                        <a href="#">
                            <img src="assets/images/amazon-prime-logo-1.jpg" alt="Amazon Prime">
                        </a>
                    </div>
                    <div class="info">
                        <span class="job_title">
                        Fullfillment Associate
                    </span>
                        <span class="job_info">
                        <a href="#"><em>Amazon Prime</em></a>
                        <span>&bull;</span> London, UK
                        </span>
                    </div>
                    <span class="job_type part_time">Part-time</span>
                </li>
                <li class="date">Jan 2016 - now&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                <li class="listing clearfix">
                    <div class="image_wrapper">
                        <a href="#">
                            <img src="assets/images/refugee_rights.jpg" alt="Refugee Rights Data Project">
                        </a>
                    </div>
                    <div class="info">
                        <span class="job_title">
                        IT and Translation support
                    </span>
                        <span class="job_info">
                        <a href="#"><em>Refugee Rights Data Project</em></a>
                        <span>&bull;</span> London, UK
                        </span>
                    </div>
                    <span class="job_type volunteer">Volunteer</span>
                </li>
                <li class="date">Sep 2014 - Sep 2015</li>
                <li class="listing clearfix">
                    <div class="image_wrapper">
                        <a href="#">
                            <img src="assets/images/ptp_logo.jpg" alt="Pass the popcorn">
                        </a>
                    </div>
                    <div class="info">
                        <span class="job_title">
                        Web development and Team Member
                    </span>
                        <span class="job_info">
                        <a href="#" ><em>Pass the popcorn</em></a>
                        <span>&bull;</span> London, UK
                        </span>
                    </div>
                    <span class="job_type volunteer">volunteer</span>
                </li>
            </ul>
        </div>
    </div>
    <!--===#experience==-->
</article>