<h2 class="text-success">You can check out my projects &#64;&nbsp;&nbsp;&nbsp;<i class="fa fa-github animated infinite wobble"></i></h2>
<hr>
<ul id="git-repo-list">
    {{#each repos}}
        <li >
            <a class="git-repo-title" href={{this.html_url}}>
            {{this.name}}</a>
        </li>
    {{/each}}
</ul>
<hr>
