<article id="home">
    <div id="intro-name">
        <div class="" id="profile-pic">
            <img src="/assets/images/ki.jpg" alt="profile picture">
        </div>
        <!--===col==-->
        <div class="text-center" id="introduction">
            <div id="typed-strings">
                <p class="text-center lead sr-only"><i class="fa fa-terminal animated infinite pulse" aria-hidden="true"></i>&nbsp;&nbsp;<strong>HEY THERE!, I'M <span class="text-success">KIYA</span></strong><span id="intro-break"><br></span> I'M A UK BASED FULLSTACK WEB DEVELOPER
                    CREATING AWESOME AND EFFECTIVE VISUAL IDENTITIES FOR COMPANIES OF ALL SIZES AROUND THE GLOBE.</p>
            </div>
            <span id="typed"></span>
            <div id="landing-social-links">
                <hr>
                <div class="social-links">
                    <a href="" class="badge social github animated infinite pulse"><i class="fa fa-github"></i></a>
                    <a href="" class="badge social twitter animated infinite tada"><i class="fa fa-twitter"></i></a>
                    <a href="" class="badge social linkedin animated infinite pulse"><i class="fa fa-linkedin"></i></a>
                    <a href="" class="badge social gplus animated infinite tada"><i class="fa fa-google-plus"></i></a>
                    <a href="" class="badge social facebook animated infinite pulse"><i class="fa fa-facebook"></i></a>
                </div>
            </div>
            <div class="hire-me">
                <hr>
                <button class="btn btn-lg btn-success btn-block">
                <i class="fa  fa-handshake-o fa-lg" aria-hidden="true"> 
                <span class="text-center">
                    <a href="#contact-me">HIRE ME</a>
                </span>
                </i>
                </button>
                <hr>
            </div>
        </div>
        <!--===introduction==-->
    </div>
    <!--===intro-name==-->
    {{!-- <div class="row text-center" id="move-down"> --}}
    <div class="" id="move-down">
        <div>
            <a href="#about-me">
                <button class="btn btn-lg">
                    <i class="fa fa-hand-o-down"></i>
                </button>
            </a>
        </div>
    </div>
</article>