<h2 class="text-success hidden">Leader Board &nbsp;&nbsp;<i class="fa fa-lg fa-users" aria-hidden="true"></i></h2>
<hr class="hidden">
<ul id="leaderBoard-list">
    {{#each leader}}
        <li >
            <p class="leader">
            {{this.html_url}} +
            {{this.name}}
            </p>
        </li>
    {{/each}}
</ul>
<hr class="hidden">
