<h2 class="text-success">Leader Board &nbsp;&nbsp;<i class="fa fa-lg fa-users" aria-hidden="true"></i></h2>
<hr>
<ul id="leaderBoard-list">
        {{#each player}}   
        <li >
            {{this.name}}
            {{this.score}} 
                
        </li>
         {{/each}}      
</ul>
<hr>
