<article id="portfolio">
                <div class="border"></div>
                <div id="portfolio-heading">
                    <h2 class="text-success">
                        <u>PORTFOLIO</u>
                    </h2>
                </div>
                <!--=====-->
                <div id="portfolio-container">
                    <div id="portfolio-pic">
                        <div class="slider-portfolio-pic">
                            <div class="slide-item">
                                <img src="/assets/images/iqraa2.jpg">
                            </div>
                        </div>
                        <!--===slider-for===-->
                    </div>
                    <div id="portfolio-text-content">
                        <hr>
                        <div class="slider-portfolio-content">
                            <h4 id="portfolio-heading"><strong>IQRAA foundation UK</strong></h4>
                            <P id="portfolio-content"><em>Technologies used: HTML5, CSS3, Bootstrap, JavaScript, jQuery, AJAX, PHP, MySql</em></P>
                        </div>
                        <hr>
                        <!--===slider-for===-->
                    </div>


                </div>
                <div id="github-api-data">
                    {{> githubrepos}}
                </div>
                <!--===portfolio-container==-->
</articel>
<!--===article==-->
 <article id="github-read-me">
        
        <div id="github-read-me-container">
            <hr>
            <span class="close"><i class="fa fa-times-circle-o" aria-hidden="true"></i></span>
        <h2 class="text-success" id="read-me-heading"></h2>
        <p id="read-me-content">
     </p>
    <a id="read-me-link"></a>
    <hr>
</div>
</article>


