<article id="skills">
                <div class="sr-only" id="animate-progress-bar"></div>
                <div class="border"></div>
                <div id="skills-container">
                    <div class="heading">
                        <h2 class="text-success"><u>SKILLS</u></h2>
                        <p>
                            I am always keen to acquire new skills and also to master those that I already have under my skill set. As a result, these are some of the skills that I have acquired through academic qualifications and work experience.
                        </p>
                    </div>
                    <div id="skill-progress">
                        <div id="skill-bar-1">
                            <div class="progress">
                                <div class="progress-bar progress-bar-success progress-bar-striped active pr1" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria- valuemax="100">
                                    <span class="progress-bar-text">HTML5</span>
                                </div>
                            </div>
                            <!--===progress==-->
                            <div class="progress">
                                <div class="progress-bar progress-bar-success progress-bar-striped active pr2" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria- valuemax="100">
                                    <span class="progress-bar-text">CSS3</span>
                                </div>
                            </div>
                            <!--===progress==-->
                            <div class="progress">
                                <div class="progress-bar progress-bar-success progress-bar-striped active pr3" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria- valuemax="100">
                                    <span class="progress-bar-text">JavaScript</span>
                                </div>
                            </div>
                            <!--===progress==-->
                            <div class="progress">
                                <div class="progress-bar progress-bar-success progress-bar-striped active pr4" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria- valuemax="100">
                                    <span class="progress-bar-text">Bootstrap</span>
                                </div>
                            </div>
                            <!--===progress==-->
                            <div class="progress">
                                <div class="progress-bar progress-bar-warning progress-bar-striped active pr5" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria- valuemax="100">
                                    <span class="progress-bar-text">jQuery</span>
                                </div>
                            </div>
                            <!--===progress==-->
                            <div class="progress">
                                <div class="progress-bar progress-bar-info progress-bar-striped active pr6" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria- valuemax="100">
                                    <span class="progress-bar-text">AJAX</span>
                                </div>
                            </div>
                            <!--===progress==-->
                        </div>
                        <!--===skill-bar-1==-->
                        <div id="skill-bar-2">
                            <div class="progress">
                                <div class="progress-bar progress-bar-danger progress-bar-striped active pr7" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria- valuemax="100">
                                    <span class="progress-bar-text">Node.js</span>
                                </div>
                            </div>
                            <!--===progress==-->
                            <div class="progress">
                                <div class="progress-bar progress-bar-danger progress-bar-striped active pr8" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria- valuemax="100">
                                    <span class="progress-bar-text">React.js</span>
                                </div>
                            </div>
                            <!--===progress==-->
                            <div class="progress">
                                <div class="progress-bar progress-bar-info progress-bar-striped active pr9" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria- valuemax="100">
                                    <span class="progress-bar-text">JAVA</span>
                                </div>
                            </div>
                            <!--===progress==-->
                            <div class="progress">
                                <div class="progress-bar progress-bar-danger progress-bar-striped active pr10" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria- valuemax="100">
                                    <span class="progress-bar-text">Git&nbsp;&amp;&nbsp;github</span>
                                </div>
                            </div>
                            <!--===progress==-->
                            <div class="progress">
                                <div class="progress-bar progress-bar-info progress-bar-striped active pr11" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria- valuemax="100">
                                    <span class="progress-bar-text">SASS</span>
                                </div>
                            </div>
                            <!--===progress==-->
                            <!--===progress==-->
                            <div class="progress">
                                <div class="progress-bar progress-bar-info progress-bar-striped active pr12" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria- valuemax="100">
                                    <span class="progress-bar-text">LESS</span>
                                </div>
                            </div>
                            <!--===progress==-->
                        </div>
                        <!--===skill-bar-2==-->
                    </div>
                    <!--===skill-progress==-->

                </div>
                <!--===skills-container==-->

            </article>
            <!-- article -->