 <!--=======header======-->
     {{> navigation}} 
<!--========git hub read me======-->
<section id = "github-read-me-section">
    <article id="github-read-me">
        <div id="github-read-me-container">
    <h2 class="text-success">this is my mead me content</h2>
    <p id="readme-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio illo, sint enim ut 
        voluptate dolores doloribus iste, aliquam alias, praesentium facere placeat minima harum? Aliquid quis at et, eos velit.
    </p>
    <a id="readme-link">check the project here</a>
</div>
    </article>
</section>
<footer>
        {{> footer}}
</footer>
 <!--=============script section===========-->
    <!--=======jQuery CORE JAVASRIPT checks the if it was catched before else download it=====-->
     <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
     crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script type="text/javascript" src="/assets/libraries/typed.js"></script>
    <script type="text/javascript" src="/assets/js/main.js"></script>
    <script type="text/javascript" src="/assets/js/githubReadme.js"></script>
   
