 <!--=======header======-->
     {{>navigation}} 
  
    <!--=======landing page=========-->
    <main id="wrapper">
        <!--=======<home section>=========-->
        <section id="home-section"  data-type="background" data-speed="10">
             {{> home}} 
            <!--===container==-->
        </section>
        <!--=======</home section>=========-->
        <!--===<about me section>==-->
        <section id="about-me-section" data-type="background" data-speed="5">
            {{> about-me}}
            <!--===article==-->
        </section>
        <!-- ===</about me> ====-->
        <!--=======<education section>=========-->
        <section id="education-section" data-type="background" data-speed="5">
            {{> education}}
        </section>
        <!--=======</education section>=========-->
        <!--=======<skills section>=========-->
        <section id="skills-section" data-type="background" data-speed="5">
            {{> skills}}
        </section>
        <!--=======</skills section>=========-->
        <!--=======<experience section>=========-->
        <section id="experience-section" data-type="background" data-speed="5">
            {{> experience}}
        </section>
        <!--=======</experience section>=========-->
        <!--=======<portfolio section>=========-->
        <section id="portfolio-section" data-type="background" data-speed="5">
            {{> portfolio}}
        </section>
        <!--=======</portfolio section>=========-->
        <!--=======<contact-me section>=========-->
        <section id="contact-me-section" data-type="background" data-speed="5">
            {{> contact-me}}
        </section>
        <!--=======</contact me section>=========-->
    </main>
    <footer>
        {{> footer}}
    </footer>