/* ==== GENERAL ==== */


/*
.col-sm-1{
    width: 8.333%;
}
.col-sm-2{
    width: 16.666%;
}
.col-sm-3{
    width: 25%;
}
.col-sm-4{
    width: 33.333%;
}
.col-sm-5{
    width: 41.666%;
}
.col-sm-6{
    width: 50%;
}
.col-sm-7{
    width: 58.333%;
}
.col-sm-8{
    width: 66.666%;
}
.col-sm-9{
    width:  75%;
}
.col-sm-10{
    width: 83.333%;
}
.col-sm-11{
    width: 91.666%;
}
.col-sm-12{
    width: 100%;
}
.col-sm-offset-1{
    margin-left: 8.333%;
}
*/

body {
    line-height: 150%;
    font: 200 1em/1.5em 'Raleway', Helvetica, sans-serif;
    font-size: 16px;
    background: url(../images/wood-1759566.jpg) repeat 0% 0% fixed;
    background-size: cover;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    width: 100%;
    height: 100%;
}

#wrapper {
    width: 100%;
}


/* === GLOBAL === */

#home-section,
#about-me-section,
#education-section,
#skills-section,
#experience-section,
#portfolio-section,
#game-section {
    height: 100vh;
    width: 100vw;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#home-section article,
#about-me-section article,
#education-section article,
#skills-section article,
#experience-section article,
#portfolio,
#game-section article,
#contact-me-section article,
footer .container {
    display: flex;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, .9)), url(../images/dark-bg.jpg);
    margin: 0 8.63%;
    color: cornsilk;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
}

#github-read-me {
    margin: 0 8.63%;
    color: cornsilk;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

#home-section article:after,
#about-me-section article:after,
#education-section article:after,
#skills-section article:after,
#experience-section article,
#portfolio-section article:after,
#game-section article:after,
#contact-me-section article:after,
footer .container:after {
    content: " ";
    display: block;
    clear: both;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-rendering: optimizeLegibility;
    font-weight: bold;
}

h1 {
    font-size: 3em;
}

h1,
h2 {
    margin: 0 0 40px;
}

h3 {
    margin: 20px 0;
}

h4 {
    font-size: 18px;
}

p {
    margin: 0 0 15px;
}

strong {
    font-weight: 600;
}

p {
    font-weight: 200;
    padding-bottom: 10px;
}

p.lead {
    font-weight: normal;
}

a:link,
a:visited {
    color: #dd5638;
}

a:hover {
    text-decoration: none;
    color: #c9302c;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

button,
input,
.btn,
a.btn {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    color: white;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

button .btn:focus {
    outline: none;
}

.btn-danger {
    background-color: #dd5638;
    border-collapse: #d95131;
}

.btn-block {
    display: block;
    width: 100%;
}

.btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}

.btn-success {
    background: #79b044;
    border: none;
}

.hidden {
    display: none;
}

.hire-me button:hover {
    background: #409340;
    border-color: #6a9b3d;
}

.hire-me a {
    text-decoration: none;
}

.badge.social {
    background: transparent;
    font-size: 22px;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 42px;
    margin: 0 5px 0px 0;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 50px;
    color: cornsilk;
    border: 1px solid #fec951;
    position: relative;
}

.social-links .badge.social.github {
    left: 25px;
}

.social-links .badge.social.facebook {
    right: 25px;
}

.social-links .badge.social.gplus {
    right: 12px;
}

.social-links .badge.social.twitter {
    left: 12px;
}

.badge.social.github:hover {
    background: #FFFFFF;
    color: #24292E;
}

.badge.social.twitter:hover {
    background: #55acee;
}

.badge.social.facebook:hover {
    background: #3b5998;
}

.badge.social.linkedin:hover {
    background: #007bb6;
}

.badge.social.gplus:hover {
    background: #db4b39;
}

hr {
    margin-bottom: 30px;
    border-color: #fec951;
    width: 100%;
}

.text-success {
    color: #fec951;
}

.text-center {
    text-align: center;
}

.lead {
    font-size: 1.5em;
}


/* === navigation section layout === */

.navbar-wrapper .container {
    padding-left: 8.63%;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
}

.navbar-wrapper ul {
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
}

.navbar {
    background: url(../images/code-938776.jpg) no-repeat 0% 0%;
    background-size: cover;
}

.navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 100;
    height: 50px;
    top: 0;
    transition: top 0.2s ease-in-out;
}

.nav-up {
    top: -60px;
}

.navbar-brand>img {
    display: block;
    margin-top: 1em;
    float: left;
}

.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}

.navbar-collapse ul {
    list-style: none;
}

.navbar-collapse ul li {
    padding: 0 2em;
}

.navbar-collapse ul>li a {
    color: cornsilk;
    text-decoration: none;
}

.navbar-collapse ul>li.active a {
    color: #fec951;
}

.navbar-brand img {
    width: 30px;
    height: 30px;
}

.navbar {
    padding: 5px;
    justify-content: space-around;
}


/* === home section layout === */

#home-section {
    background: url(../images/7.jpg) repeat 0% 0% fixed;
    background-size: cover;
}

#home {
    height: 100vh;
}

#home #intro-name {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    margin-top: 0px;
    flex-grow: 0;
    flex-shrink: 0;
}

#intro-name #introduction {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 60%;
    padding-top: 150px;
    margin-left: 10%;
}

.social-links {
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    margin: 2em auto;
}

#profile-pic {
    order: 3;
    margin: 10em 3% 0 5%;
    padding-top: 0;
    flex-basis: 250px;
    padding-right: 5px;
    text-align: center;
}

#profile-pic img {
    border-radius: 50%;
    height: 300px;
    width: 100%;
}


/*==================== typed.js===============*/


/*style for the typed library*/

#typed:after {
    visibility: visible;
    content: '|';
    display: inline-block;
    position: relative;
    height: 1em;
    margin-left: 5px;
    margin-left: 0;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

.typed-cursor {
    font-size: auto;
    display: inline-block;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#typed:not(i) {
    line-height: 2;
}

#typed i {
    color: #fd7576;
}

#typed i,
#typed strong {
    font-weight: 800;
    font-size: 54px;
}

#typed strong {
    color: #d9dee9;
}


/*--===end of typed.js style====---*/

.hire-me {
    margin: 5px;
    width: 60%;
    margin-left: 20%;
}

.hire-me a {
    color: black;
}

.hire-me i {
    color: black;
}

.hire-me hr:last-of-type {
    margin-top: 2em;
}

#move-down {
    margin-top: 4em;
    margin-left: 40%;
}

#move-down button {
    border-radius: 80%;
    background: transparent;
    border: 1px solid #fec951;
    color: cornsilk;
}

#move-down button:hover {
    background: #79b044;
    border: none;
}


/* === about-me section layout === */

#about-me-section {
    background: url(../images/laptop-926775.jpg) no-repeat 0% 0% fixed;
    background-size: cover;
    padding-top: 150px;
}

#about-me-intro p {
    font-size: 1.05em;
}

.text-danger {
    color: #a94442;
}

article#about-me {
    height: 500px;
}

#about-me {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
}

#about-me #about-me-intro,
#about-me #personal-info {
    margin: 1em 5%;
}

#about-me-intro {
    padding-top: 20px;
}

#about-me #personal-info {
    margin-top: 0;
}

#personal-info {
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
}

#personal-info #contact-info {
    width: 60%;
}

#personal-info a {
    text-decoration: none;
}

.list-group {
    list-style: none;
}

.list-group li:first-of-type {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.list-group li:last-of-type {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.list-group-item {
    color: #000;
    padding: 10px 15px;
    border: 1px solid #ddd
}

.list-group-item-success {
    background: #dff0d8;
    color: #3c763d;
}

.list-group-item-info {
    background: #d9edf7;
    color: #31708f;
}

.list-group-item-danger {
    background: #f2dede;
    color: #a94442;
}

#download-resume {
    padding-top: 110px;
    width: 35%;
}

#download-resume .btn {
    width: 75%;
}

#download-resume .btn,
#send-button {
    color: rgb(52, 50, 75);
    font-size: 1.05em;
    padding: .4em 3em;
    border-radius: 5px;
    background-image: linear-gradient(to bottom, #f0ad4e 0, #eb9316 100%);
    background-repeat: repeat-x;
    border-color: #e38d13;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
}


/*=======education====*/

.border {
    /*---color for the colorful lines/borders---*/
    height: 6px;
    border: 0;
    background-color: #fd7473;
    margin: 20px 10px;
    background-image: linear-gradient(to right, #fd7473, #fd7473 25%, #fec951 25%, #fec951 50%, #47b8e0 50%, #47b8e0 75%, #9f68d0 75%, #9f68d0 100%, #9f68d0 100%);
    -webkit-background-size: 50% 100%;
    -moz-background-size: 50% 100%;
    -ms-background-size: 50% 100%;
    -o-background-size: 50% 100%;
    background-size: 50% 100%;
}


/*general for slider*/

.slider {
    width: auto;
    margin: 2em 8.63%;
}

article#education {
    height: 789px;
}

#education #edu-container {
    margin: 1em 5%;
}

#education-section {
    /* background: url(../images/office-581131.jpg) no-repeat 0% 0% fixed; */
    background-size: cover;
    padding-top: 80px;
    min-height: 910px;
}

.slider-education-pic,
.slider-education-pic img {
    height: 300px;
}

#education-section #edu-container {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
}

#education-section .slider-education-content {
    height: 150px;
}

#education-section #edu-container {
    flex-basis: 100%;
}

#education-section #edu-container img {
    align-self: center;
    margin: 2em 15%;
    width: 70%;
}


/*=========skills section layout ===========*/

#skills-section {
    background: url("../images/7.jpg") no-repeat 0% 0% fixed;
    background-size: cover;
    padding-top: 70px;
    min-height: 800px;
}

#skills #skills-container {
    margin: 1em 5%;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

#skills #skill-progress {
    padding: 2em 5.63%;
}

#skill-progress {
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
}

#skill-bar-1,
#skill-bar-2 {
    flex-basis: 47%;
}

.progress {
    position: relative;
}

.progress-bar {
    width: 0%;
    height: 25px;
    text-align: center;
    line-height: 30px;
    color: white;
    float: left;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}

.progress-bar:after {
    content: "";
    width: inherit;
    /*take the width of the progress-bar */
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: linear-gradient( -45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
    z-index: 1;
    background-size: 40px 40px;
    animation: move 2s linear infinite;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    overflow: hidden;
    -webkit-animation: progress 2s linear infinite;
    -moz-animation: progress 2s linear infinite;
    -ms-animation: progress 2s linear infinite;
    animation: progress 2s linear infinite;
}

@keyframes progress {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -70px 0px;
    }
}

.pr1,
.pr2,
.pr3,
.pr4 {
    background-image: -webkit-linear-gradient(top, #5cb85c 0, #449d44 100%);
    background-image: -o-linear-gradient(top, #5cb85c 0, #449d44 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#5cb85c), to(#449d44));
    background-image: linear-gradient(to bottom, #5cb85c 0, #449d44 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff449d44', GradientType=0);
    background-repeat: repeat-x;
}

.pr5,
.pr7 {
    background-image: -webkit-linear-gradient(top, #f0ad4e 0, #ec971f 100%);
    background-image: -o-linear-gradient(top, #f0ad4e 0, #ec971f 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f0ad4e), to(#ec971f));
    background-image: linear-gradient(to bottom, #f0ad4e 0, #ec971f 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#fff0ad4e', endColorstr='#ffec971f', GradientType=0);
    background-repeat: repeat-x;
}

.pr8,
.pr10,
.pr12 {
    background-image: -webkit-linear-gradient(top, #d9534f 0, #c9302c 100%);
    background-image: -o-linear-gradient(top, #d9534f 0, #c9302c 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#d9534f), to(#c9302c));
    background-image: linear-gradient(to bottom, #d9534f 0, #c9302c 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffd9534f', endColorstr='#ffc9302c', GradientType=0);
    background-repeat: repeat-x;
}

.pr6,
.pr9,
.pr11 {
    background-image: -webkit-linear-gradient(top, #5bc0de 0, #31b0d5 100%);
    background-image: -o-linear-gradient(top, #5bc0de 0, #31b0d5 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#5bc0de), to(#31b0d5));
    background-image: linear-gradient(to bottom, #5bc0de 0, #31b0d5 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff31b0d5', GradientType=0);
    background-repeat: repeat-x;
}

.progress {
    height: 25px;
    margin: 35px auto;
    flex-basis: 100%;
    background-color: #ddd;
    border-radius: 3px;
}

.progress-bar-text {
    line-height: 2.5;
    color: #000;
    font-weight: 700;
}


/* === experience === */

article#experience {
    min-height: 800px;
    padding-top: 10px;
}

#experience-section {
    /* background: url("../images/computer-1833058_1280.png") repeat 0% 0% fixed; */
    /* background-size: cover; */
    padding-top: 100px;
    min-height: 950px;
}

#experience #experience-container {
    margin: 1em 5%;
}

#timeline ul {
    position: relative;
}

#timeline ul:after {
    content: " ";
    width: 1px;
    background: 1px #fec951;
    height: 80%;
    position: absolute;
    top: 3em;
    left: 5em;
    z-index: 0;
}

#timeline ul a {
    text-decoration: underline;
    color: #34414c;
    font-weight: 700;
}

#timeline ul .listing {
    background: #ffffff;
    border: 1px solid #d9dee9;
    border-radius: .3em;
    padding: 1em;
    margin-bottom: 1em;
    position: relative;
    z-index: 1;
    display: table;
    width: 90%;
}

#timeline ul .listing img,
#timeline ul .listing .info,
#timeline ul .listing .job_type {
    display: table-cell;
    vertical-align: middle;
    font-size: .9em;
    color: #9592ad;
}

#timeline ul .listing .image_wrapper {
    width: 100px;
}

#timeline ul .listing .image_wrapper img {
    width: 100px;
    display: block;
    margin: 0 auto;
    border-radius: .25em;
    background: black;
    height: 100px;
}

#timeline ul .listing .info {
    line-height: 1.25;
    width: 640px;
    padding-left: 25px;
    color: #34414c;
}

#timeline ul .listing .info .job_title {
    font-weight: 700;
    font-size: 1.5em;
}

#timeline ul .listing .info .job_info {
    display: block;
    margin-top: 10px;
}

#timeline ul .listing .info .job_info span {
    margin: 0 .75em;
}

#timeline ul .listing .job_type {
    text-transform: uppercase;
    font-weight: 700;
    font-size: .75em;
    position: relative;
    white-space: nowrap;
    padding-top: .6em;
    width: 100px;
}

#timeline ul .listing .job_type:before {
    content: " ";
    background: #fd7473;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    position: absolute;
    left: -20px;
    top: 47px;
}

#timeline ul .listing .volunteer {
    color: #fd7473;
}

#timeline ul .listing .volunteer:before {
    background: #fd7473;
}

#timeline ul .listing .part_time {
    color: #fec951;
}

#timeline ul .listing .part_time:before {
    background: #fec951;
}

#timeline ul .listing .full_time {
    color: #47b8e0;
}

#timeline ul .listing .full_time:before {
    background: #47b8e0;
}

#timeline ul .listing .freelance {
    color: #9f68d0;
}

#timeline ul .listing .freelance:before {
    background: #9f68d0;
}

#timeline ul .date {
    display: inline-block;
    padding: .6em 0;
    width: 20%;
    background: #ffffff;
    border: 2px solid #fd7576;
    border-radius: 3em;
    font-weight: 700;
    font-size: .75em;
    text-align: center;
    z-index: 2;
    position: relative;
    margin: 1em 0 2em 0;
    color: black;
}


/* === portfolio section layout === */

#portfolio #portfolio-container,
#portfolio #portfolio-heading {
    margin: 1em 5%;
}

#portfolio-section {
    background: url(../images/neo-urban-1734495.jpg) no-repeat 0% 0% fixed;
    background-size: cover;
    padding-top: 75px;
    /* min-height: 790px; */
    height: auto;
}

#portfolio-section #portfolio-container {
    height: 350px;
}

#portfolio-section h2 {
    margin-bottom: 30px;
}

#portfolio #portfolio-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 7em;
}

#portfolio-text-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 0;
}

#portfolio-text-content .slider-portfolio-content {
    flex-grow: 0;
}

#portfolio-pic {
    flex-basis: 65%;
}

#portfolio-text-content {
    flex-basis: 30%;
    width: 100%;
}

.slider-portfolio-content {
    min-height: 200px;
    padding-top: 2em;
}

.slider-portfolio-pic .slide-item img {
    height: 300px;
    width: 80%;
}


/*=======github repos========*/

#github-api-data {
    display: flex;
    flex-direction: column;
    margin-left: 7em;
}

#github-api-data ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#github-api-data li {
    flex-basis: 200px;
    flex-grow: 1;
    flex-shrink: 0;
    margin: .5em 0;
}

#github-api-data h2 {
    color: inherit;
}

#github-api-data h2 span {
    color: #fec951;
}

#github-api-data h2 i {
    color: green;
    font-size: 1.3em;
}

#github-api-data hr:first-of-type {
    width: 50%;
    margin-left: 0;
    margin-top: -8px;
}

#github-api-data hr:last-of-type {
    width: 90%;
    margin-right: 20px;
}

#github-api-data a {
    text-decoration: none;
    color: cornsilk;
}

#github-api-data a:hover {
    color: #dd5638;
    text-decoration: underline;
}


/*=====githubrepo readme ====*/

#github-read-me {
    display: none;
    position: fixed;
    z-index: 100;
    padding-top: 100px;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.6);
}

#portfolio-section #github-read-me-container {
    margin: 2em 5%;
    background-size: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, .9)), url(../images/dark-bg.jpg);
    border-radius: 3px;
    min-height: 300px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    position: relative;
}

#github-read-me-container h2:first-letter {
    text-transform: capitalize;
}

#github-read-me-container {
    margin: .5em 2%;
    padding: 3em 5% 0 5%;
}

#github-read-me-container h2 {
    text-decoration: underline;
    margin-top: 1.5em;
    margin-left: 5%;
}

#github-read-me-container #read-me-content,
#github-read-me-container #read-me-link {
    margin-left: 8%;
}

#github-read-me-container #read-me-link {
    text-decoration: none;
    color: #98B57F;
}

#github-read-me-container #read-me-link:hover {
    color: #DF4848;
    text-decoration: underline;
}

#github-read-me-container hr {
    margin-top: 5em;
    width: 100%;
}

#github-read-me-container hr:first-of-type {
    margin-top: 1.5em;
    margin-bottom: 3em;
}

#github-read-me-container .close {
    margin: 5px 10px;
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#github-read-me .close i {
    color: #fec85d;
    font-size: 24px;
    float: right;
    margin-right: 5%;
    position: absolute;
    right: -30px;
    top: 10px;
}

#github-read-me .close i:hover,
#github-read-me .close i:focus {
    color: #DF4848;
    text-decoration: none;
    cursor: pointer;
}


/*=====game section layout=========*/

#game-section {
    /* background: url("../images/computer-1833058_1280.png") repeat 0% 0% fixed; */
    /* background-size: cover; */
    padding-top: 100px;
    min-height: 800px;
}

#game {
    height: auto;
}

#game #game-container {
    display: flex;
    justify-content: space-around;
}

#game #game-heading,
#game #game-container {
    margin: .5em 5%;
}

#game #game-heading {
    margin-bottom: 0;
}

#game-section {
    background: url("../images/game.jpg") no-repeat 0% 0% fixed;
    background-size: cover;
    padding-top: 100px;
}

#game .form-group {
    display: -webkit-flex;
    display: flex;
    margin: 2em 0;
    width: 100%;
    justify-content: space-around;
}

#game .form-group button {
    color: #000;
    margin-left: 1em;
}

#result-and-leaderBoard i {
    color: #fff;
}

#result-and-leaderBoard {
    flex-basis: 30%;
}

#result-and-leaderBoard h2 {
    margin-bottom: 10px;
    text-align: center;
}

.form-group #given {
    background: 0;
    border: 0;
    width: 100%;
    overflow: visible;
    outline: 0;
    height: auto;
}

.form-group #given::placeholder {
    color: cornsilk;
    font-size: 1.2em;
}

#send_game_try {
    flex-basis: 60%;
    text-align: center;
}

#send_game_try p:first-of-type {
    margin-bottom: 0;
    padding-bottom: 0;
}

#send_game_try span {
    font-weight: bold;
    color: inherit;
    border-bottom: 1px solid #fec85d;
}

#send_game_try ul {
    list-style: none;
    text-align: left;
    margin-left: 3em;
}

#send_game_try ul li {
    padding: 5px 0;
}

#send_game_try ul li i {
    color: #fec85d;
}

#leaderBoard-list {
    list-style: none;
    padding-left: 1em;
}

#leaderBoard-list li {
    display: flex;
    justify-content: space-between;
    font-size: 1em;
    font-weight: 800;
}

#leaderBoard-list li .player-name {
    color: #98B57F;
    text-transform: capitalize;
}

.player-score {
    color: cornsilk;
}

.player-score-zero {
    color: #CF4A39;
}


/* === contact-me section layout === */

#contact-me #contact-me-container {
    display: flex;
    flex-direction: column;
    margin: .5em 5%;
}

#contact-me-section {
    background: url("../images/7.jpg") no-repeat 0% 0% fixed;
    background-size: cover;
    padding-top: 80px;
    width: auto;
    padding-top: 50px;
    min-height: 780px;
    max-height: 785px;
}

#contact-me {
    padding-top: 10px;
}

#contact-me-section #contact-me-container {
    height: auto;
}

#contact-form {
    width: 60%;
    flex-grow: 0;
    flex-shrink: 0;
    align-self: center;
}

#contact-me .form-group {
    display: -webkit-flex;
    display: flex;
    justify-content: space-around;
    margin: 2em 0;
}

.form-group input {
    height: 25px;
}

.form-group input,
.form-group textarea {
    flex-basis: 50%;
    padding: 6px 12px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    align-self: center;
}

.form-group #send-button {
    flex-basis: 55%;
    margin-left: 30%;
    border: none;
}

#contact-me hr {
    margin: 10px;
    width: 95%;
}

#contact-me .container {
    padding-top: 10px;
}

.error-animate {
    border: 1.5px solid red !important;
    text-transform: capitalize;
    -vendor-animation-duration: 2s;
    -vendor-animation-iteration-count: 3;
    animation-duration: 2s;
    animation-iteration-count: 3;
}

#contact-form #required {
    margin: 0;
}

#contact-form .required {
    color: red;
}

#social-link-bottom>ul {
    display: -webkit-flex;
    display: flex;
    margin-top: 5px;
    justify-content: space-between;
    margin: 0 33.333%;
    list-style: none;
    padding-bottom: .3em;
}

#social-link-bottom ul li {
    flex-basis: 10%;
    flex-grow: 0;
    flex-shrink: 0;
}

#social-link-bottom li a {
    padding: 5px 8px;
    font-size: 1em;
}

#social-link-bottom a.badge.social.gplus {
    padding: 5px 5px;
}

#social-link-bottom a.badge.social.facebook {
    padding: 5px 10px;
}


/*=====footer section layout=========*/

footer {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 10px 0;
    margin: 10px 0;
    font-size: 14px;
    max-height: 50px;
}

footer .container {
    display: flex;
    align-items: center;
    width: 100vw;
    background: transparent;
}

footer #footer-link {
    color: #fec85d;
}

footer #footer-link :visited {
    color: cornsilk;
}

footer #footer-link :hover {
    color: #dd5638;
}

footer p {
    margin: 0;
}


/*==================== MEDIA QUERIES===============*/

@media (min-width: 768px) {
    .navbar-toggle {
        display: none;
    }
    .navbar {
        -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
        transition: background .5s ease-in-out, padding .5s ease-in-out;
    }
    .top-nav-collapse {
        padding: 0;
    }
}

@media screen and (max-width:768px) {
    /* === general section layout === */
    .navbar-wrapper .container {
        flex-direction: column;
        justify-content: flex-start;
    }
    .navbar-wrapper .container img {
        padding-left: 2em;
    }
    .navbar-collapse {
        background: url(../images/code-938776.jpg) no-repeat 0% 0%;
        background-size: cover;
        display: absolute;
        padding-left: 20px;
    }
    .navbar-fixed-top .container,
    ul.nav,
    ul.nav li {
        padding-left: 0;
    }
    .navbar-wrapper ul {
        flex-direction: column;
        display: none;
    }
    .navbar-header button {
        cursor: pointer;
    }
    .navbar-header button:hover {
        border: 1px solid #fec951;
    }
    .navbar-toggle.collapsed {
        position: absolute;
        float: right;
        right: 0;
        padding: 9px 10px;
        margin-top: 8px;
        margin-right: 15px;
        margin-bottom: 8px;
        background-color: transparent;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
    }
    #home-section {
        margin-top: 60px;
    }
    section article {
        margin: 0 2%;
    }
    #home-section article,
    #about-me-section article,
    #education-section article,
    #skills-section article,
    #experience-section article,
    #portfolio-section article,
    #game-section article,
    #contact-me-section article,
    footer .container {
        width: 95%;
        flex-direction: column;
        margin: 0 2%;
    }
    #home {
        margin-top: 1em;
    }
    #intro-name #introduction {
        padding-top: 0;
    }
    #home #intro-name {
        flex-direction: column;
        justify-content: center;
    }
    #home #introduction {
        padding: 0;
        padding-top: 20px;
        margin: 0 8%;
        width: 80%;
    }
    #profile-pic {
        order: 0;
        padding-top: 25px;
        padding-right: 5px;
        margin-bottom: 10px;
        padding-bottom: 0;
        max-height: 200px;
        margin-bottom: 0;
    }
    #profile-pic img {
        border-radius: 50%;
        height: 150px;
        width: 50%;
        padding: 0;
    }
    #typed i,
    #typed strong {
        font-weight: 800;
        font-size: 24px;
    }
    #typed {
        font-size: 12px;
    }
    .hire-me {
        width: 100%;
        margin-left: 0;
    }
    .hire-me button {
        margin-left: 0%;
    }
    .social-links {
        margin: 0 auto;
    }
    .badge.social {
        padding-top: 0px;
    }
    #move-down {
        margin-top: 1em;
    }
    /* === about me section ==== */
    #about-me-section {
        height: auto;
        padding-top: 30px;
        min-height: 700px;
    }
    article#about-me {
        height: auto;
    }
    #about-me #about-me-intro {
        margin-bottom: 0;
    }
    #personal-info #contact-info {
        padding-top: 0;
    }
    #personal-info {
        flex-direction: column;
    }
    #personal-info #contact-info {
        width: 100%;
    }
    #about-me-intro p {
        padding-right: 10px;
        font-size: 14px;
        margin-bottom: 0;
    }
    .list-group {
        padding-left: 0;
    }
    #download-resume {
        width: 65%;
        padding: 0;
        margin-left: 1%;
        align-self: stretch;
    }
    #download-resume .btn {
        margin: 0;
        width: 96%;
    }
    /* === education === */
    #education-section {
        height: auto;
        padding-top: 30px;
        min-height: 750px;
    }
    article#education {
        height: auto;
    }
    .slider-education-content {
        height: auto;
        margin: 10px;
    }
    .slick-slide {
        margin: 0px 5px;
    }
    #micro-pic,
    .slide-item img {
        height: 200px;
    }
    .slider-education-content #edu-content {
        max-height: 100px;
        font-size: 14px;
        padding: 0;
        margin-bottom: 0;
    }
    #education-section #edu-container img {
        margin: 0;
        width: 100%;
    }
    /* === skills === */
    #skills-section {
        height: auto;
        padding-top: 30px;
        min-height: 750px;
    }
    article#skills {
        height: auto;
    }
    #skill-progress {
        justify-content: space-between;
    }
    #skill-bar-1,
    #skill-bar-2 {
        flex-basis: 48%;
    }
    .skills {
        padding-bottom: 15px;
    }
    #skills #skill-progress {
        padding: 0;
    }
    .progress-bar-text {
        line-height: 1.5;
    }
    /*===experience section ====*/
    #experience-section {
        height: auto;
        padding-top: 30px;
        min-height: 870px;
    }
    article#experience {
        height: auto;
    }
    #timeline {
        padding: 0;
    }
    #timeline ul {
        padding: 5px;
        margin: 0;
    }
    #timeline ul .listing {
        width: 100%;
    }
    #timeline ul:after {
        left: 2em;
    }
    #timeline ul .listing {
        padding: 10px 5px;
    }
    #timeline ul .listing .image_wrapper {
        margin: .5em .5em;
        width: 50px;
    }
    #timeline ul .listing .image_wrapper img {
        width: 50px;
        height: 50px;
    }
    #timeline ul .listing .info {
        width: 100%;
        padding: .4em 0 0 .4em;
    }
    #timeline ul .listing .info .job_info {
        width: 100%;
        margin-top: 10px;
        font-size: 1rem;
    }
    #timeline ul .listing .info .job_info a {
        display: block;
        margin: .75em;
    }
    #timeline ul .listing .info .job_info span {
        margin: .7em;
    }
    #timeline ul .listing .info .job_title {
        font-size: 1em;
    }
    #timeline ul .listing .job_type {
        display: none;
    }
    #timeline ul .date {
        padding: .6em;
        width: 50%;
        background: #ffffff;
        border-radius: 3em;
        font-weight: 700;
        font-size: .75em;
        text-align: center;
        z-index: 2;
        position: relative;
        margin: 1em 0 2em 0;
        color: #34324b;
    }
    /* === portfolio === */
    #portfolio-section {
        height: auto;
        padding-top: 30px;
        min-height: 700px;
    }
    #portfolio #portfolio-container {
        flex-direction: column;
        margin: 0 2em;
    }
    #portfolio-text-content {
        margin-top: 0;
        justify-content: flex-start;
    }
    #portfolio-pic {
        max-height: 280px;
    }
    .slider-portfolio-pic {
        height: auto;
    }
    .slider-portfolio-pic .slide-item img {
        height: 250px;
        width: 90%;
    }
    #portfolio-text-content hr:last-of-type {
        margin-bottom: 0;
    }
    .slider-portfolio-content {
        min-height: 120px;
        height: 120px;
        padding-top: 0;
        margin-bottom: 0;
    }
    .slider-portfolio-content #portfolio-content {
        height: 80px;
        min-height: 80px;
        max-height: 80px;
        font-size: 14px;
        padding: 0;
        margin-bottom: 0;
    }
    #portfolio #portfolio-heading {
        /* margin: .8em 0 .5em 0; */
        font-size: 16px;
        font-weight: 800;
    }
    #portfolio-text-content hr:first-of-type {
        margin-bottom: 0;
    }
    #github-api-data {
        margin-left: 2em;
        margin-top: 3em;
    }
    #github-api-data h2 {
        margin-bottom: .5em;
    }
    #github-api-data ul {
        margin-top: 0;
    }
    #github-api-data li {
        flex-grow: 1;
        flex-shrink: 0;
        margin: .2em 0;
    }
    #github-api-data h2 i {
        color: green;
    }
    #github-api-data hr:first-of-type {
        width: 90%;
        margin: 3px 0 1em 0;
    }
    #github-api-data a {
        text-decoration: none;
        color: cornsilk;
    }
    #github-api-data a:hover {
        color: #dd5638;
        text-decoration: underline;
    }
    /*=======github readme =========*/
    #github-read-me .close i {
        right: 0px;
        top: 10px;
    }
    #github-read-me-container hr {
        margin-top: 2em;
    }
    #github-read-me-container hr:first-of-type {
        margin-top: .5em;
        margin-bottom: 1em;
    }
    /*=====game section layout=========*/
    .form-group input {
        height: 20px;
    }
    #game-section {
        height: auto;
    }
    #game {
        height: auto;
    }
    #game #game-container {
        flex-direction: column;
    }
    #game-section {
        padding-top: 40px;
    }
    #game-section #game-heading,
    #game-container,
    {
        margin: 1em 5%;
    }
    #result-and-leaderBoard {
        flex-basis: 90%;
    }
    .form-group #guess::placeholder {
        color: cornsilk !important;
    }
    #send_game_try {
        flex-basis: 90%;
        text-align: center;
    }
    #send_game_try p:first-of-type {
        margin-bottom: 0;
        padding: 0 1.5em;
        text-align: justify;
    }
    #send_game_try ul {
        margin-left: 0;
        padding-left: 2em;
    }
    #send_game_try ul li {
        padding: 5px 0;
    }
    #send_game_try ul li i {
        font-size: inherit;
    }
    #game .form-group {
        margin-bottom: .5em;
        margin-left: .5em;
    }
    #game .form-group #score {
        padding-right: 0;
    }
    #game .form-group button {
        margin-left: 5em;
    }
    #gameMessage {
        margin-bottom: 0;
    }
    #send_game_try ul li i {
        color: #fec85d;
    }
    /* === contact me === */
    #contact-me-section {
        height: auto;
        padding-top: 10px;
        min-height: 780px;
        max-height: 900px;
    }
    #contact-me-section #contact-me {
        padding: 0;
        margin-top: 2em;
    }
    #contact-me-section #contact-me-container {
        height: auto;
    }
    #contact-me hr {
        width: 90%;
        align-self: center;
    }
    #contact-me hr:first-of-type {
        margin-top: 2em;
        margin-bottom: 0;
    }
    #contact-me hr:last-of-type {
        margin-bottom: 5px;
    }
    #contact-form {
        width: 90%;
    }
    #contact-me .row {
        margin-bottom: 0;
    }
    #contact-me .form-group {
        justify-content: flex-start;
        flex-direction: column;
        margin: 2em 0;
    }
    .form-group label {
        align-self: flex-start;
        margin-bottom: .5em;
        font-weight: 500;
    }
    .form-group #send-button {
        margin-left: 0;
    }
    #social-link-bottom>ul {
        justify-content: space-around;
        margin: 1%;
        padding-left: 0;
        margin-top: 2px;
    }
}

@media screen and (max-width:568px) {
    h2 {
        margin: 10px 10px 15px 0;
        font-size: 16px;
    }
    #home #introduction {
        padding-top: 0;
        margin: 0 7%;
    }
    #profile-pic {
        margin-top: 0;
        padding-top: 5px;
        padding-right: 5px;
        margin-bottom: 0;
        max-height: 150px;
    }
    #profile-pic img {
        height: 140px;
        width: 50%;
    }
    #landing-social-links hr:first-of-type,
    .hire-me hr:first-of-type {
        margin-bottom: 1em;
    }
    .hire-me hr:first-of-type {
        margin-bottom: .5em;
    }
    .hire-me hr:last-of-type {
        margin-top: .5em;
        margin-bottom: 0;
    }
    #game .form-group button {
        padding: .5em 1em;
    }
    .badge.social {
        font-size: 14px;
        height: 30px;
        width: 30px;
        text-align: center;
        line-height: 30px;
    }
    .social-links {
        display: flex;
        justify-content: space-between;
    }
    .social-links .badge.social.github {
        left: 0;
    }
    .social-links .badge.social.facebook {
        right: 0;
    }
    .social-links .badge.social.gplus {
        right: 0;
    }
    .social-links .badge.social.twitter {
        left: 0;
    }
}